*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 6000px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header{
    width: 100%;
    height: 40px;
    background-color: rgba(59, 108, 119, 0.874);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
.hlist{
float: right;
padding-top :10px; 
margin-right: 20px;
}
.hlist li{
    display: inline;
    margin-right: 10px;
    position: relative;
   padding-bottom: 5px;
}

.hlist li a{
    color: white;
    text-decoration: none;

}
.hlist li::after{
    content: "";
    height: 2px;
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
background-color:  rgba(10, 30, 21, 0.7);
visibility: hidden;
}
.hlist li:hover::after{
    width: 100%;
    height: 2px;
    transition: 1s;
    background-color: rgba(10, 30, 21, 0.7);
    visibility: visible;
}
.blogli{
    position: relative;
    cursor: pointer; 
    
}
.drop{
    background-color: rgba(3, 136, 156, 0.659);
    position: absolute;
    top:25;
    padding: 10px 10PX;
  text-align: center;
    height: 170px;
    font-size: 0.9rem;
    left:0;
    border-radius: 10px;
    visibility: hidden;
}
.drop li{
   line-height:30PX;
  padding-top:10px; 
}
.blogli:hover .drop{
    visibility: visible;
    transition: 5s;
}
.hleft{
       line-height: 25px;
    padding-top: 5px;
    margin-left: 20px;
    height: 50px;
}
.search-icon{
    position: absolute;
    opacity: 0.5;
    left: 45px;
    top:12;
    margin-left: 20px;
    font-size: 0.9rem;
}
.home1{
    color: white;
    line-height: 25px;
}
.hinput{
    height: 25px;
    padding: 0 25px;
    margin-left: 15px;
    border-radius: 17px;
}
/* home */
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom:20px;
    background:url(../images/pexels-katerina-holmes-5905443.jpg) no-repeat fixed center;
    background-size: cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.home-content{
    width: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%  );
    text-align: center;
}
.home-content h2{
    color: white;
    word-spacing: 3px;
}
.home-content p{
    color: rgba(255, 255, 255, 0.864);
    padding: 15px 0;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 20px;
}
.home-buttons button{
  border-radius: 7px;
    cursor: pointer;
    width: 130px;
    height: 45px;
    letter-spacing: 1px;
    margin-left: 15px;
    word-spacing: 3px;
}
.button1{
    background-color:rgba(4, 58, 67, 0.912);
    color: rgba(232, 232, 232, 0.845);
}
.home-buttons button:hover{
    opacity: 0.8;
    transition: 0.2s;
}
/* WELCOME */
.container,.containerfeature,.offers-container,.container-choose,.table-container,.manage-container,.team-container,.news-container{
    width: 80%;
    margin: auto;
}
.welcome-parent H2,.featured-parent h2,.offers-parents h2,.table-parent h2,.team-parent h2,.news-parent h2{
   COLOR: rgb(4, 67, 123);
   text-align: center;
}
.offers-parents h2{
    padding-top:100px;
}

.welcome-parent,.offers-parents,.featured-title{
    width: 100%;
   margin-top:100px;
   overflow: auto;
    }
    .LINE{
        width: 110PX;
        height:4PX;
        background-color: rgb(4, 123, 123);
        margin: auto;
        margin-top: 2px;
    }
.welcome-item I{
    font-size: 20px;
    padding-bottom:10px;
    color: rgb(4, 67, 123);
}
.welcome-item{
margin-top:5%;
position: relative  ;
width:30%;
height: 200px;
padding-top:20px;
border:2px solid rgb(4, 123, 123);
border-radius: 4px;
text-align: center;
float: left;
}
.welcome-item h3,.welcome-item p{
    padding: 10px 0;
    color:rgb(2, 67, 67);
}
.welcome-item .welcomeh2{
    color: rgb(4, 123, 123);
}

.welcome-item a{
    padding-bottom: 15px;
text-decoration: none;
color: rgb(4, 67, 123);
}
.welcome-item a:hover{
    color: rgb(8, 212, 212);
}
.item2{
    margin-left:5%;
    margin-right:5%;
}
.welcome-item::after,.offers-item::after{
    position: absolute;
    content:"";
    z-index: -1;
    top:0;
    left:0;
    width:50%;
    height:50%;
    visibility: hidden;
    background-color: rgba(172, 232, 252, 0.3);
}
.welcome-item:hover::after,.offers-item:hover::after{
    width:100%;
    height:100%;
    visibility: visible;
    background-color: rgba  (183, 226, 240, 0.5);
    TRANSITION:1S;
}
.welcome-item:hover h3,.TABLE-ITEM:HOVER H3{
color: rgb(8, 212, 212);
}

.welcome-item:hover i,a{
    opacity: 0.8;
}
/* featured */
.featured-parent,.choose-parent{
    width: 100%;
    margin-top:30px;
}
.featured-item{
   margin-top: 5%;
    width:30%;
    height:200px;
    text-align: center;
    position: relative;
    float: left;
    color: rgb(253, 253, 253);
}
.fimg{
    width: 100%;
    position: relative;
    height: 200px;
}
.featured-text{
    padding: 25PX 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolutE;
    visibility: hidden;
}   
.featured-text h3,.featured-text p,.featured-text  button{
font-size: 1.5rem;
margin: 8px 0;
}
.featured-text  button:hover{
background-color: rgb(4, 67, 123);
cursor: pointer;
color: rgba(255, 255, 255, 0.903);
transition: 0.2s;
}
.featured-text p{
    font-size:1rem;
    color: rgba(255, 255, 255, 0.844);
}
.featured-text button{
width:45px;
height: 45px;
border-radius: 8px;
margin-left: 10px;
}
.featured-item:hover .featured-text{
visibility: visible;
}
/* offers */
.offers-item{
    margin-top:5%;
    position: relative;
    width:30%;
    height: 200px;
    padding-top:10px;
    border:2px solid rgb(4, 123, 123);
    border-radius: 4px;
    padding-left: 35px;
    padding-right: 4PX;
    float: left;}
    .OFFER-text{
     color:rgb(39, 66, 66);
    }
    .OFFER-text p{
        color:rgba(39, 66, 66, 0.749);
        font-size: 0.rem;
    }
    .offer-icon{
        position: absolute;
        margin:0 -3PX;
     color:rgb(5, 120, 120);
        top: 12PX;
        font-size: 1.25REM;
        left: 10;
    }
    .offers-item:hover i,  .offers-item:hover h3{
color: rgb(10, 104, 172);
    }
.choose-parent{
    height: 500px;
}
    .choose-img{
        float: right;
        width: 30%;
        margin-left: 20%;
        height: 500px;
        margin-top:100px;
    }   
    .choose-img img{
        width:100%;
        border-radius: 7px;
        height: 400px;
    }
    .choose-text{
        float: left;
        width: 50%;
        height: 400px;
        margin-top:100px;
        COLOR: rgb(4, 67, 123);
    }
    .choose-text .line{ 
   margin-left: 0;
 
    }
    .choose-p p{
        margin: 25px 0;
        COLOR: rgb(48, 97, 141);
    }
    .choose-icon{
      text-align: center;
      padding-top: 5px;
    }
    .choose-icon .c1{
      color:rgb(48, 97, 141);
    }
    .choose-icon .c2,.choose-icon .c3{
        color:rgb(173, 186, 198) ;
    }
    .choose-icon .c2:hover,.choose-icon .c3:hover{
        color:rgb(48, 97, 141);
        transition:0.5s;
    }
/* works */
.work,.manage{
    width: 100%;
    height: 250;
    margin-top:130px;
    background:url(../images/gg.jpg) no-repeat fixed  center;
    background-size: cover;
    position: relative;
}
.work .overlay,.manage .overlay{
position: absolute;
}
.work1 {
    height: auto;
    width: 20%;
    padding:100 0;
    float: left;
    text-align: center;
}
.work1 i {
    color:rgb(128, 189, 243);
    font-size: 1.7rem;
}
.work1 p {
    color: rgb(227, 237, 247);
    padding-top: 3px;
}
/* table */
.table-parent{
    width: 100%;
   overflow: auto;
    }
.table-item{
    width: 25%;
    text-align: center;
    height: 400px;
    border-radius: 7px;
border: 2px solid  rgb(4, 123, 123);
    padding: 10px;
    margin-top:5%;
    float: left;
    font-size: 1.2REM;
    position: relative;
}
.titem2{
    margin-left: 12.5%;
    margin-right:  12.5%;
}
    .table-item h3{
    margin-bottom:10;
    font-weight: 600;
    margin-top: 20;
    }
.P-PRICE{
    font-weight:800;
}
.TABLE-CIRCLE{
    width: 110;
    height: 110;
    padding:20 10;
    border-radius: 50%;
    font-weight:500;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom:10;
    position: relative;
    border: 2px solid  rgba(4, 123, 123, 0.532);
}
.table-item:hover .table-circle{
    border: 2px solid  rgb(4, 123, 123);
}
.TABLE-P P{
    margin-bottom:10;
}
.table-btn{
    margin: auto;
    width:70%;
    height: 40;
    margin-top: 5PX;
    border:2px solid rgb(4, 123, 123);
    background-color:rgba(4, 58, 67, 0.912);
    color: rgba(233, 227, 227, 0.874);
    border-radius: 10PX;
}
.table-btn:hover{
    cursor: pointer;
    background-color:rgb(4, 123, 123);
    transition: 1s;
}
.TABLE-ITEM::AFTER,.news-item::after{
    position: absolute;
    content: "";
    width: 100%;
    top:0;
height: 0;
left: 0;
z-index: -1;
right: 0;
background-color: rgba(172, 232, 252, 0.3);}
.TABLE-ITEM:hover::AFTER,.news-item:hover::after{
    height: 100%;
    background-color: rgba(172, 232, 252, 0.3);  
    transition: 1s;
}
/* management */
.manage{
    background:url(../images/pexels-rdne-6517328.jpg) no-repeat fixed center;
}
.manage-parent{
    width: 100%;
    overflow:auto;
}
.manage-item{
  width:30%;
  padding-top: 70px;
  float: left;
}
.manage-img{
    width: 70;
    height: 70;
    border-radius: 50%; 
    float: left;    
    margin-right: 10px;
}
.m-text{
    padding-top:15;
}
.m-text h5{
    padding-top: 5;
    color:rgb(128, 189, 243);
}
.m-text h4{
    color: rgba(255, 255, 255, 0.914);
}
.m-p{
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.81);
}
.m-item1{
    margin-left:10%;
}
.m-item2{
margin-right:10%;
  float: right;
}
/* team */
.team-parent{
    overflow: auto;
}
.team-item{
    width: 30%;
    float: left; 
    height: 300;
    border-radius: 7px;
    background-color:rgb(128, 189, 243);
   margin-top: 5%;
   padding-top: 30px;
   text-align: center;
   position: relative;
}
.team-img{
    position: relative; 
    width:80%;
    text-align: center;
    margin: auto;
    border-radius: 7px;
}
.team-img img{
    width: 100%;
    height: 200;
    border-radius: 7px;
}
.team-info{
    padding: 5 5;
}
 .team-icon i{
    display: block;
    line-height:50px;
    height:50px;
    width:50px;
    font-size: 1.4rem;
   margin-top: 3px;
   margin-right: 3px;
   border-radius: 7px;
    margin-left: auto;
    background-color: rgb(13, 128, 228);

 }
 .team-icon i:hover{
    background-color: rgb(48, 97, 141);
    cursor:pointer;
    transition: 0.2s;
}
  .team-item:hover .TEAM-ICON{
visibility: visible;
  }
  .team-info{
    padding:8;
  }
.TEAM-ICON{
    background-color: rgba(0, 0,0, 0.5);
    position: absolute;
    z-index:10;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    visibility: hidden;
}
.t-item2{
    margin-left: 5%;
    margin-right: 5%;
}
.Team-item::after{
 position: absolute;
content: "";
width: 100%;
top:0;
height: 0;
left: 0;
right: 0;
background-color: rgba(30, 93, 113, 0.3);}
.Team-item:hover::after{
    width: 100%;
    height: 100%;
    background-color: rgba(30, 93, 113, 0.3);
    transition:2s;
}
/* news */
.news-parent{
    width: 100%;
    overflow: auto;
}
.news-item{
    position: relative;
    width:30%;
    height:450px;
    margin-bottom: 130px;
    text-align: center;
    margin-top: 5%;
    border: 2px solid  rgb(4, 123, 123);
    border-radius:7px;
    float:left;
}
.n-item2{
    margin-left: 5%;
    margin-right: 5%;
}
.news-img{
    width:70%;
    height:270;
    margin: auto;
  padding: 20 10;
}
.news-img img{
    height:250PX;
   width:100%;
    border-radius:7px;

}
.news-info{
    height:180;
    line-height:20px;
    padding: 20 10;
}
.news-info   h3{
    padding: 10 10;
    color:rgb(4, 123, 123);
}
.news-info  a{
 text-decoration: none;
 color:rgb(13, 128, 228);
 line-height:60px;
 padding: 10;
}
.news-info p{
    color:rgba(4, 123, 123, 0.803); 
}
.news-item:hover h3{
    color: rgb(8, 212, 212);
}
.news-info i{
    margin-right:3px;
    color:rgb(13, 128, 228);
    font-size: 1.2rem;
}
.news-info span{
    color:rgba(4, 123, 123, 0.803); 
    margin-right:10px;
}
/* taile */
.tail-container{
    width: 100%;
}
.tail-parent{
    width:100%;
    height:320;
    background-color: rgba(59, 108, 119, 0.874);
}
.tail-img{
    width:300px;
    height:250px;
    margin: auto;
    padding:15px 0;
}
.tail-img img{
    width: 100%;
    height: 100%;
    border-radius:10px; 
}
.tail-icon{
    text-align: center;
}
.tail-icon i{
    padding:10;
    margin-top:-5px;
    background-COLOR: rgb(4, 67, 123);
    border-radius:50%;
    color: rgba(255, 255, 255, 0.955);
}
.tail-icon i:hover{
    background-color: rgb(8, 212, 212);
    cursor:pointer;
}
.p-tail{
    color: rgba(255, 255, 255, 0.838);
    text-align: center;
    padding:5px 0;
}